<html>
<head>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "jquery-1.4.1.min.js" %>
  <%= javascript_include_tag "/ckeditor/ckeditor.js" %>
  <%= javascript_include_tag "application.js" %>
  <%= yield :head %>
</head>
<body>
  <div class="banner">
    <%= link_to "Books &hellip;", books_path %>
  </div>
  <%= yield %>
</body>
</html>
